{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        },
        "modules": "auto"
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
